<div id="loginModal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center">
    <div class="modal-content bg-white w-full max-w-md mx-4 rounded shadow-lg p-6">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold">Kategoriler</h2>
            <button (click)="closeCategoryModal()" class="closeModal w-8 h-8 flex items-center justify-center text-gray-700">
                <i class="ri-close-line ri-lg"></i>
            </button>
        </div>

<button class="w-full p-2 bg-primary text-white border rounded" (click)="start()">Kategorileri Göster</button>
<br>
<br>
@for (level of levels(); track level) {
<div class="mb-4">
  @if (level.items.length > 0) {
    <div>
      <select class="w-full p-2 border border-gray-300 rounded" #sel (change)="onSelect(level.items[sel.selectedIndex-1], levels().indexOf(level))">
        <option value="">Seçiniz...</option>
        @for (cat of level.items; track cat.id) {
          <option [value]="cat.id">{{ cat.singleCategoryName }}</option>
        }
      </select>
    </div>
  }
</div>
}

@if (canShowButton()) {
  <div>
    <button class="w-full bg-secondary text-white py-2 px-4 !rounded-button hover:bg-primary/90 transition-colors duration-300 whitespace-nowrap" (click)="showProducts()">Ürünleri Göster</button>
  </div>
}
    </div>
</div>
